@media screen and (max-width: 650px) {
  html {
    scroll-padding: 20svh;
  }

  #Home {
    /* border-radius: 100px; */
    height: 50svh;
    background-size: cover;
    background-position: 80% 0%;
  }

  #products {
    grid-template-columns: repeat(1, 2fr);
    grid-auto-rows: 150px;
  }

  #suppliers {
    grid-template-columns: repeat(2, 2fr);
    grid-auto-rows: 38vw;
  }
  #suppliers .panelcontainer:nth-child(5) {
    grid-column: span 2;
  }

  #pharPic img {
    transform: translate(0, 0);
  }

  .text {
    position: relative;
    font-size: 1rem;
    width: 80%;
    padding: 0;
  }
  .ribbon {
    /* position: absolute; */
    flex-direction: column;
    height: fit-content;
    padding: 0;
    width: 100vw;
    border-radius: 0 0 5vw 5vw;
    /* padding-top: 1em; */
    /* display: none; */
  }

  #ominroText {
    font-size: 2rem;
  }

  #BottomWrap {
    /* display: none; */
    flex-direction: column-reverse;
    align-items: center;
  }
  #tabs button {
    font-size: 1rem;
    padding: 5px 10px;
    display: none;
  }
  .pagelinks:nth-child(3) {
    display: none;
  }

  .pagelinks:nth-child(5) {
    display: none;
  }
  .gridClass {
    padding: 5px;
    gap: 5px;
  }
  .panelContainer:hover {
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    margin: -2px;
  }

  .infoclass {
    width: 80%;
  }
  .infoclass p {
    margin-top: 0;
  }

  #BottomWrap {
    padding-bottom: 0;
  }

  .contactInputs {
    padding: 10px;
    height: 40px;
    width: 100%;
  }

  #contact button {
    width: fit-content;
    padding-inline: 30px;
  }
  #contact {
    display: flex;
    width: 80vw;
    align-items: center;
    margin: 0;
  }
}

@media (width < 400px) {
  #tabs button {
    font-size: 0.8rem;
    padding: 5px 5px;
  }

  .text {
    font-size: 0.8rem;
  }

  .infoclass {
    font-size: 0.8rem;
  }
  .contactInputs {
    font-size: 0.8rem;
  }
  #contact button {
    font-size: 1rem;
  }
  .heading {
    font-size: 1rem;
  }
}
