@media screen and (max-width: 650px) {
  html {
    scroll-padding: 20svh;
  }

  #Home {
    /* border-radius: 100px; */
    height: 55vh;
    /* background-size: cover; */
    background-size: 220%, 37px;
    background-position: 80% 0%;
    align-content: end;
  }

  #products {
    grid-template-columns: repeat(1, 2fr);
    grid-auto-rows: 150px;
  }

  #suppliers {
    grid-template-columns: repeat(2, 2fr);
    grid-auto-rows: 38vw;
  }
  #suppliers .panelcontainer:nth-child(5) {
    grid-column: span 2;
  }

  #pharPic img {
    transform: translate(0, 0);
  }

  .text {
    position: relative;
    font-size: 2.5rem;
    width: 80%;
    padding-bottom: 1em;
  }

  .heading {
    margin-block: 1em;
    font-size: 1.2rem;
  }

  .ribbon {
    /* position: absolute; */
    /* flex-direction: column; */
    height: 10vh;
    margin: 0;
    margin-bottom: 1em;

    padding-inline: 2em;
    width: 100vw;
    border-radius: 0 0 0 0 !important;
    /* padding-top: 1em; */
    /* display: none; */
  }

  #ominroText {
    font-size: 2.5em;
  }

  #BottomWrap {
    /* display: none; */
    flex-direction: column-reverse;
    align-items: center;
  }
  #tabs button {
    font-size: 1rem;
    padding: 5px 10px;
    display: none;
  }
  .pagelinks:nth-child(3) {
    display: none;
  }

  .pagelinks:nth-child(5) {
    display: none;
  }
  .gridClass {
    padding: 5px;
    gap: 5px;
  }
  .panelContainer:hover {
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    margin: -2px;
  }
  #info {
    width: 80%;
  }

  #address {
    width: 80%;
  }

  .infoclass {
    width: 80%;
  }
  .infoclass p {
    margin-top: 0;
  }

  #BottomWrap {
    padding: 0.5em;
    padding-bottom: 0;
  }

  .contactInputs {
    padding: 10px;
    height: 40px;
    width: 100%;
  }

  #contact button {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding-inline: 30px;
    margin-bottom: 0.5em;
  }
  #contact {
    display: flex;
    width: 80vw;
    align-items: center;
    margin: 0;
  }
  #contactTitle {
    font-size: 1.3rem;
  }

  .aboutUs {
    padding: 1em;
    padding-top: 0;
    text-align: justify;
    font-size: 1rem;
  }
  .aboutUs li {
    padding: 0;
    /* padding-left: 1em; */
    text-align: left;
  }

  .navButton {
    display: block;
  }
}

@media (width < 400px) {
  #tabs button {
    font-size: 0.8rem;
    padding: 5px 5px;
  }

  .text {
    font-size: 0.8rem;
  }

  .infoclass {
    font-size: 0.8rem;
  }
  .contactInputs {
    font-size: 0.8rem;
  }
  #contact button {
    font-size: 1rem;
  }
  .heading {
    font-size: 1rem;
  }
}

/* Mobile Specific */

.mobileSelection {
  bottom: 25%;
  right: 0;
  position: fixed;
  background-color: var(--ominroMaroon);
  z-index: 50;
  width: 60%;
  height: 50%;
  box-shadow: 0 0 50px var(--ominroMaroon);
  border-radius: 3vw;
  display: none;
}

.navlinks {
  height: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  padding-block: 1em;
  padding-inline: 2em;
  gap: 2em;
}

.navlinks button {
  color: white;
  background-color: transparent;
  text-align: right;
  font-size: 1.1em;
  text-transform: uppercase;
  border-bottom: 2px solid var(--ominroMaroonLight);
}
